.buttonblock {
  display: block;
  width: 40%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin:auto;
  display:block;
}
.loginmessage {
  width: 70%;
  color:white
}
.loginmessagesub {
  width: 100%;
  color:white
}
.materialicons {
  font-size: 17px;
  color:green
}
