<div *ngIf ="alertmessage">
    <alert type="warning" dismissible="true" isOpen ="false" [dismissOnTimeout]="12000">
      Unknown error happen Please try again later.
   </alert>
  </div>

<div class ="loginmessage">
  <h3>
    &nbsp;&nbsp;Apply to jobs on the go
  </h3>
</div>
<h6 class ="loginmessagesub"> &nbsp;&nbsp;Find Your Dream Job On-The-Go Using Hot Cake Mobile App</h6>

<br><br>
<button type="button"  class="btn btn-primary btn-sm buttonblock" (click) ='facebooklogin()'>Facebook</button>

<br><br>
<button type="button" class="btn btn-danger btn-sm buttonblock"  (click)="googlelogin()" >Google</button>

<br><br>
<button type="button" class="btn btn-info btn-sm buttonblock" (click) ='twitterlogin()'>Twitter</button>
<br><br>
<br><br><br>
<div class ="loginmessagesub">
<mat-icon color="warn" class ="materialicons">call</mat-icon> Toll No: +91-44-99393992  <br>
<mat-icon color="warn" class ="materialicons">sms</mat-icon> Whats App No: +91-40-99393992  <br>
<mat-icon color="warn" class ="materialicons">mail</mat-icon> Email: contact@hotcake.com </div> <br>
<br>

