<mat-toolbar color="primary" class="headerFixed">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="routePage('profile')">
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="routePage('search')">
      <span>Search Jobs</span>
    </button>
    <button mat-menu-item (click)="routePage('apply')">
      <span>Applied Jobs</span>
    </button>
    <button mat-menu-item (click)="routePage('logout')">
      <span>Logout</span>
    </button>
  </mat-menu>

  HotCake
  <span class="example-spacer"></span>
  <div class="example-icon"><img [src]="photoimage!= null ? photoimage : tempimage" width="50" height="50" ></div>
  <img src="../../../assets/hotcakeimage.png" alt="Smiley face" height="50" width="80" >
</mat-toolbar>


