.keep-c-expansion-panel{
  width:100vw;
  margin:auto;
}

.keep-note-container{
  display: flex;
  margin-top:20px;
}

.keep-c-done-btn{
  display: flex;
  justify-content: flex-end;
}

.input-full-width {
  width: 100%;
}

.error-message{
  color:red;
}

.label-message{
  color:blue;
}
