<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hot Cake</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io"> hbb
        Apache Cordova Team
    </author>
    <content src="http://ec2-18-222-187-103.us-east-2.compute.amazonaws.com:4200/login" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="OverrideUserAgent" value="Mozilla/5.0 Google" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/hotcake-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/hotcake-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hotcake-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/hotcake-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/hotcake-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/hotcake-xxxhdpi.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git" />
    <plugin name="cordova-plugin-http" spec="^1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
