 <br><br><br>
 <mat-progress-bar [mode]="mode" class="loadingBarFixed"></mat-progress-bar>
 <br>
 <mat-list-item *ngFor="let jobresult of appliedjob">
  <div class="jobliststyle">
     <div style="background-color: #9c27b0;">
     <label style="text-transform: uppercase; color: #ffffff;">{{jobresult.jobinfo["0"].companyname}} </label>
     </div>
     <mat-divider></mat-divider>
    <span>{{jobresult.jobinfo["0"].role}}</span> &nbsp;&nbsp; <br>
    <span>Keyskills: {{ jobresult.jobinfo["0"].skillset }}</span><br>

    <mat-icon class ="materialicons">work_outline </mat-icon>&nbsp;&nbsp; {{ jobresult.jobinfo["0"].minexperience }} - {{ jobresult.jobinfo["0"].maxexperience }} Years <br>
    <mat-icon class ="materialicons">location_on</mat-icon>&nbsp;&nbsp; {{jobresult.jobinfo["0"].location}}  <br>
    <mat-icon class ="materialicons">whatshot </mat-icon>&nbsp;&nbsp; <span> Posted {{ datediff(jobresult.jobinfo["0"].createddate) }}  days ago </span> &nbsp; &nbsp;
    <mat-icon class ="materialicons">update </mat-icon>&nbsp;&nbsp; <span> Applied On  {{ jobresult.appliedon | date }}  </span> <br>
    <mat-icon class ="materialicons">thumb_up_alt </mat-icon>&nbsp;&nbsp; <span> Your profile is   {{ jobresult.status }}  </span>
    <span style="float:right;"> <mat-icon (click)="deleteJob(jobresult._id)">delete_outline</mat-icon></span>

    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <button mat-mini-fab class="filter" color="primary" [disabled]="filterDisplay">
    <mat-icon>filter_list</mat-icon>
  </button>
