 <br><br><br>
 <mat-progress-bar [mode]="mode" class="loadingBarFixed"></mat-progress-bar>
 <br>
 <mat-list-item *ngFor="let jobresult of jobresults">
  <div class="jobliststyle">
     <div style="background-color: #D4D7FE;">
     <label style="text-transform: uppercase;">{{jobresult.companyname}} </label>
     </div>
     <mat-divider></mat-divider>
    <span>{{jobresult.role}}</span> &nbsp;&nbsp; <br>
    <span>Keyskills: {{ jobresult.skillset }}</span><br>

    <mat-icon class ="materialicons">work_outline </mat-icon>&nbsp;&nbsp; {{ jobresult.minexperience }} - {{ jobresult.maxexperience }} Years <br>
    <mat-icon class ="materialicons">location_on</mat-icon>&nbsp;&nbsp; {{jobresult.location}}  <br>
    <mat-icon class ="materialicons">whatshot </mat-icon>&nbsp;&nbsp; <span> Posted {{ datediff(jobresult.createddate) }}  days ago </span>
    <span style="float:right;"> <mat-icon (click)="deleteJob(jobresult._id)">delete_outline</mat-icon></span>
    
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <button mat-mini-fab class="filter" color="primary" [disabled]="filterDisplay">
    <mat-icon>filter_list</mat-icon>
  </button>