.keep-c-expansion-panel{
  width:100vw;
  margin:auto;
}

.keep-note-container{
  display: flex;
  margin-top:20px;
}

.keep-c-done-btn{
  display: flex;
  justify-content: flex-end;
}

.input-full-width {
  width: 100%;
}

.error-message{
  color:red;
}

.label-message{
  color:blue;
}

.jobliststyle
{

    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: #7e7e7f;
}

.loadingBarFixed {
  overflow: hidden;
  position: fixed;
    top: 0;
}

.filter{
	overflow: hidden;
  position: fixed;
    bottom: 50px;
    right:10px;
}

.materialicons {
  font-size: 17px;
}
virtual-scroll {
  display: block;
  height: 580px;
}
mat-list-item {
  display: block;
  width: 100%;
  height: 240px;
}
