
 <br><br><br>
 <header><h4 style ="color:white;font-weight: bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">&nbsp;&nbsp;&nbsp; Your applied Jobs</h4>
 </header>
 <div *ngIf="appliedjob?.length==0">
    <alert type="warning"  isOpen ="false">
        You dont have any jobs submitted for status check. Please go back and search job.
     </alert>
 </div>
 <div *ngIf ="statusreferencecompleted">
  <alert type="success" dismissible="true" isOpen ="false" [dismissOnTimeout]="5000">
    Reference check for your profile is Completed. Your profile will be forwarded to employers baesd on your jobs applied.
 </alert>
 </div>
 <div *ngIf ="statusrefercepending" >
  <alert type="info" dismissible="true" isOpen ="false"  [dismissOnTimeout]="5000">
    Reference check for your profile is pending. You can still apply for jobs.
 </alert>
 </div>

    <mat-list-item *ngFor="let jobresult of appliedjob">
  <div class="jobliststyle">
     <div style="background-color: #9c27b0;">
     <label style="text-transform: uppercase; color: #ffffff;">{{jobresult.jobinfo["0"].companyname}} </label>
     </div>
     <mat-divider></mat-divider>
    <mat-icon color="warn" class ="materialicons">airplay</mat-icon>   {{jobresult.jobinfo["0"].role}} <br>
    <mat-icon color="warn" class ="materialicons">note</mat-icon> {{ jobresult.jobinfo["0"].skillset }} <br>
    <mat-icon color="warn" class ="materialicons">work_outline </mat-icon> {{ jobresult.jobinfo["0"].minexperience }} - {{ jobresult.jobinfo["0"].maxexperience }} Years <br>
    <mat-icon color="warn" class ="materialicons">location_on</mat-icon> {{jobresult.jobinfo["0"].location}}  <br>
    <mat-icon color="warn" class ="materialicons">whatshot </mat-icon> <span> Posted {{ datediff(jobresult.jobinfo["0"].createddate) }}  days ago </span> &nbsp; &nbsp;
    <mat-icon color="warn" class ="materialicons">update </mat-icon> <span> Applied On  {{ jobresult.appliedon | date }}  </span> <br>
    <mat-icon color="accent" class ="materialicons">thumb_up_alt </mat-icon> <span> Your profile is   {{ jobresult.jobstatus }}  </span>
    <mat-icon color="accent" class ="materialicons">local_offer </mat-icon> <span> Job is valid till {{ jobresult.jobinfo["0"].enddate | date}}  </span>
    <span style="float:right;"> <mat-icon color="warn" (click)="deleteJob(jobresult._id)">delete_outline</mat-icon></span>

    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <button mat-mini-fab class="filter" color="primary" [disabled]="filterDisplay">
    <mat-icon>filter_list</mat-icon>
  </button>
