<br><br><br>
 <mat-progress-bar class="loadingBarFixed"></mat-progress-bar>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <!-- 1 Personal Details -->
	    <ng-template matStepLabel style="font-weight: bold;">Personal Details</ng-template>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" [(ngModel)]="userprofile.fullname"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Contact Number" formControlName="firstCtrl"class="input-full-width" [(ngModel)]="userprofile.contactnumber"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Email Address" formControlName="firstCtrl" class="input-full-width" [(ngModel)]="userprofile.emailaddress"/>
    </mat-form-field>
    
    <mat-select placeholder="Current Location" [formControl]="locationControl" multiple [(ngModel)]='userprofile.location'>
      <mat-optgroup>
        <mat-option *ngFor="let location of locationGroups" [value]="location.city">
	        {{ location.city }}
	      </mat-option>
      </mat-optgroup>
    </mat-select><br>
    
     Experience : {{userprofile.experience}} years <br>

    <ion-range-slider #sliderElement
          min="1"
          max="30"
          from="3"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="experienceUpdate($event)"></ion-range-slider>
   </form>
  </mat-step>
  
  

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <!-- 2 Office Details -->
	    <ng-template matStepLabel style="font-weight: bold;">Office Details</ng-template>
        <mat-form-field class="input-full-width">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Job Title, Keywords" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit"> {{ fruit }} </mat-option>
  </mat-autocomplete>
</mat-form-field>
   
          <br>


	  Salary Expectation : {{userprofile.salaryexpectationmin}} - {{userprofile.salaryexpectationmax}} lakhs <br>
	  <ion-range-slider #sliderElement
          type="double"
          min="1"
          max="50"
          from="4"
          to="7"
          to_min="1"
          to_max="50"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="salaryExpectationOnUpdate($event)"></ion-range-slider><br>
    
  	<br>
	<mat-form-field class="input-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Last working day" formControlName="secondCtrl" [(ngModel)]="userprofile.lastworkingday">
	  <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
	  <mat-datepicker #picker>
    </mat-datepicker>
  </mat-form-field>
  <br>
  Notice period : {{userprofile.noticeperiod}} days <br>
	<ion-range-slider #sliderElement
          min="1"
          max="14"
          from="1"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="noticePeriodUpdate($event)"></ion-range-slider>
          <br>
	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Name" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.referencename">
	</mat-form-field>
	<br>
	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Number" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.referencenumber">
	</mat-form-field>
	<div class="keep-c-done-btn">
		<mat-chip color="primary" selected="true" (click)="submitprofile()">Submit</mat-chip>
		
	</div>
</form>
</mat-step>
</mat-vertical-stepper>
