<br><br><br>
 <mat-progress-bar class="loadingBarFixed"></mat-progress-bar>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <!-- 1 Personal Details -->
	    <ng-template matStepLabel>Personal Details</ng-template>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Last name, First name" formControlName="fullname" [(ngModel)]="userprofile.fullname"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Contact Number" formControlName="contactnumber"class="input-full-width" [(ngModel)]="userprofile.contactnumber"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Email Address" formControlName="emailaddress" class="input-full-width" [(ngModel)]="userprofile.emailaddress"/>
    </mat-form-field>
    <br>
   </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <!-- 2 Office Details -->
	    <ng-template matStepLabel>Office Details</ng-template>
      <mat-form-field class="input-full-width">
        <input type="text" placeholder="Skill Set" class="input-full-width" aria-label="Number" matInput
        [formControl]="techControl" [matAutocomplete]="auto" formControlName="skillset" matInput [(ngModel)]="userprofile.skillset">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
           <mat-option *ngFor="let option of filteredTechOptions | async" [value]="option">
              {{ option }}
           </mat-option>
        </mat-autocomplete>
       </mat-form-field>
   <label class="label"> Experience : {{userprofile.experience}} years </label> <br>

    <ion-range-slider #sliderElement
          min="1"
          max="30"
          from="3"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="experienceUpdate($event)"></ion-range-slider>
          <br>

	 <label class="label"> Salary Expectation : {{userprofile.salaryexpectationmin}} - {{userprofile.salaryexpectationmax}} lakhs </label> <br>
	  <ion-range-slider #sliderElement
          type="double"
          min="1"
          max="50"
          from="4"
          to="7"
          to_min="1"
          to_max="50"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="salaryExpectationOnUpdate($event)"></ion-range-slider><br>
    <mat-select placeholder="Current Location" [formControl]="locationControl"  multiple [(ngModel)]='userprofile.location'>
      <mat-optgroup>
        <mat-option *ngFor="let location of locationGroups" [value]="location.city" >
	        {{ location.city }}
	      </mat-option>
      </mat-optgroup>
    </mat-select>
  	<br>
	<mat-form-field class="input-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Last working day" formControlName="lastworkingday" [(ngModel)]="userprofile.lastworkingday">
	  <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
	  <mat-datepicker #picker>
    </mat-datepicker>
  </mat-form-field>
  <br>
 <label class="label">Notice period : {{userprofile.noticeperiod}} days </label><br>
	<ion-range-slider #sliderElement
          min="1"
          max="30"
          from="3"
          hide_min_max="true"
           hide_from_to= "true"
          (onChange)="noticePeriodUpdate($event)"></ion-range-slider>
          <br>

	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Name" formControlName="referencename" class="input-full-width" [(ngModel)]="userprofile.referencename">
	</mat-form-field>
	<br>
	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Number" formControlName="referencenumber" class="input-full-width" [(ngModel)]="userprofile.referencenumber">
	</mat-form-field>
	<div>
		<button mat-raised-button color="primary" (click)="submitprofile()">Submit</button>
	</div>
</form>
</mat-step>
</mat-vertical-stepper>
