<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <!-- 1 Personal Details -->
	    <ng-template matStepLabel>Personal Details</ng-template>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" [(ngModel)]="userprofile.fullname"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Contact Number" formControlName="firstCtrl"class="input-full-width" [(ngModel)]="userprofile.contactnumber"/>
    </mat-form-field>
	  <br>
	  <mat-form-field class="input-full-width">
      <input matInput placeholder="Email Address" formControlName="firstCtrl" class="input-full-width" [(ngModel)]="userprofile.emailaddress"/>
    </mat-form-field>
    <br>
	  <div>
		  <button mat-raised-button matStepperNext color="primary">Next</button>
	  </div>
   </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <!-- 2 Office Details -->
	    <ng-template matStepLabel>Office Details</ng-template>
      <mat-form-field class="input-full-width">
        <input type="text" placeholder="Skill Set" class="input-full-width" aria-label="Number" matInput
        [formControl]="techControl" [matAutocomplete]="auto" matInput [(ngModel)]="userprofile.primaryskillset" (submit)="openDialog()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
           <mat-option *ngFor="let option of filteredTechOptions | async" [value]="option">
              {{ option }}
           </mat-option>
        </mat-autocomplete>
       </mat-form-field>
    Experience : {{userprofile.experience}} years <br>
	  <mat-slider placeholder="Experience" formControlName="secondCtrl"class="input-full-width" [(ngModel)]="userprofile.experience">
	  </mat-slider>
	  Salary Expectation : {{userprofile.salaryexpectation}} lakhs <br>
	  <mat-slider placeholder="Salary Expectation" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.salaryexpectation">
    </mat-slider>
	  <br>
    <mat-select placeholder="Current Location" [formControl]="locationControl" multiple [(ngModel)]='userprofile.location'>
      <mat-optgroup>
        <mat-option *ngFor="let location of locationGroups" [value]="location.city">
	        {{ location.city }}
	      </mat-option>
      </mat-optgroup>
    </mat-select>
  	<br>
	<mat-form-field class="input-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Last working day" formControlName="secondCtrl" [(ngModel)]="userprofile.lastworkingday">
	  <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
	  <mat-datepicker #picker>
    </mat-datepicker>
  </mat-form-field>
  <br>
  Notice period : {{userprofile.noticeperiod}} days <br>
	<mat-slider placeholder="Notice period" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.noticeperiod">
	</mat-slider>
	<br>
	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Name" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.referencename">
	</mat-form-field>
	<br>
	<mat-form-field class="input-full-width">
    <input matInput placeholder="Reference Number" formControlName="secondCtrl" class="input-full-width" [(ngModel)]="userprofile.referencenumber">
	</mat-form-field>
	<div>
		<button mat-raised-button color="primary" (click)="submitprofile()">Submit</button>
	</div>
</form>
</mat-step>
</mat-vertical-stepper>
